*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 50px; /*ширина кнопки*/
    height: 50px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp-button a {
    color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    /* backface-visibility: hidden;  */
}
 
.whatsapp-button:after{
    animation-delay: .5s;
}
 
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* -------------------Modal content style -------------------------- */

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 190px;
}

.modalContentTitle{
    margin-bottom: 20px;
    font-size: 20px;
}

.callBtn{
    width: 240px;
    height: 50px;
    border-radius: 3px;
    background-color: #25d366;
    margin-bottom: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.callBtn:hover{
    background-color: #18c558;
}

.openWTSP{
    width: 240px;
    height: 50px;
    border-radius: 3px;
    background-color: #25d366;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}
.openWTSP:hover{
    background-color: #18c558;
}


a{
    text-decoration: none;
}
